<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Einstellung
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Einstellung</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-avatar></ion-avatar>
  <ion-card>
    <ion-card-title>
      <h1>Benutzerdaten</h1>
    </ion-card-title>
    <ion-card-content>
      <h2>Benutzername</h2>
      <h2>Email</h2>
      <h2>Kundennummer</h2>
      <ion-button>Ändern</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title>
      <h1>Abo</h1>
    </ion-card-title>
    <ion-card-content>
      <h2>Abotyp</h2> <p>Premium</p>
      <h2>Laufzeit</h2> <p>VON 21.12.21 BIS 21.12.22</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title>
      <h1>Verlauf</h1>
    </ion-card-title>
    <ion-card-content>
      <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/As-it-was.jpg" />
      </ion-avatar>
      <ion-label>
        <h1>As it was</h1>
      </ion-label>
      </ion-item>
      <ion-button>Kompletten Verlauf anzeigen</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
