<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      Einstellung
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="tertiary">
  

  
  <ion-card>
    <ion-card-title>
      <ion-toolbar color="secondary">
        <ion-title  color="">Benutzerdaten</ion-title>
      </ion-toolbar>
    </ion-card-title>
    <ion-card-content>
      <ion-item>
        <ion-avatar slot="start">
          <ion-icon name="person-outline" size="large"></ion-icon>
        </ion-avatar>
        <ion-icon  (click)="showPrompt()" name="pencil-outline" slot="end" color="primary"></ion-icon>
        <ion-label (click)="showPrompt()">
          <h2>Benutzername</h2>
          <h1>{{data}}</h1>  
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <ion-icon name="at-outline" size="large"></ion-icon>
        </ion-avatar>
        <ion-icon  (click)="showPrompt2()" name="pencil-outline" slot="end" color="primary"></ion-icon>
        <ion-label (click)="showPrompt2()">
          <h2>Email</h2>
          <h1>{{email}}</h1>  
        </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-avatar slot="start">
          <ion-icon name="barcode-outline" size="large"></ion-icon>
        </ion-avatar>
        <ion-icon  (click)="showPrompt3()" name="pencil-outline" slot="end" color="primary"></ion-icon>
        <ion-label (click)="showPrompt3()">
          <h2>Kundennummer</h2>
          <h1>{{kundenNummer}}</h1>  
        </ion-label>
      </ion-item>
      
      
      
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title>
      <ion-toolbar color="secondary">
        <ion-title color="">Abo</ion-title>
      </ion-toolbar>
    </ion-card-title>
    <ion-card-content>
      <ion-item>
        <ion-avatar slot="start">
          <ion-icon name="card-outline" size="large"></ion-icon>
        </ion-avatar>
        
        <ion-label>
          <h2>Abotyp</h2>
          <h1>Premium</h1>  
        </ion-label>
      </ion-item>
    
      <ion-item lines="none">
        <ion-avatar slot="start">
          <ion-icon name="timer-outline" size="large"></ion-icon>
        </ion-avatar>
        
        <ion-label>
          <h2>Laufzeit</h2>
          <h1>VON 21.12.21 BIS 21.12.22</h1>  
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>
      <ion-toolbar color="secondary">
        <ion-title color="">Verlauf</ion-title>
      </ion-toolbar>
    </ion-card-title>
    <ion-card-content>
      <ion-item routerLink='/film-content'>
        <ion-thumbnail slot="start">
          <img src="/assets/As-it-was.jpg" />
        </ion-thumbnail>
        <ion-label>
          <h1>As it was</h1>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img src="/assets/Less than zero.jpg" />
        </ion-thumbnail>
        <ion-label>
          <h1>Less than zero</h1>
          
        </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="/assets/Privilege.jpg" />
        </ion-thumbnail>
        <ion-label>
          <h1>Privilege</h1>
         
        </ion-label>
      </ion-item>
      <ion-button expand="block" routerLink='../tab4'>Kompletten Verlauf anzeigen</ion-button>
    </ion-card-content>
  </ion-card>
 
</ion-content>
