ion-header {
    ion-toolbar {
        box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.445);
        text-align: center;
        
    }
}

ion-card {
    border-radius: 5px;
    width: 96%;
    margin: 5% 2% 3% 2%;
    --background: #CBCCCC;
    
    
}
ion-header {
    ion-title {
        font-size: 28px;
        
        
    }
}
ion-title {
    font-size: 25px;
    font-weight: bold;
    font-style: inherit;
    
}

ion-content {
    --ion-background-color: #CBCCCC;
}
ion-list-header {
    font-size: 25px;
    font-weight: bold;
    margin: 6px auto;
}
h1 {
    font-size: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    
}
ion-thumbnail {
    --size: 20px;
  }
h2 {
   color: #6f6f6f;
   font-weight: bold;
}
ion-icon {
    --ionicon-stroke-width: 22px;
    font-size: 24px;
    
}