<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Watch List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Watch List</ion-title>
    </ion-toolbar>
  </ion-header>

  
  


  <body>
    <ion-app>
     

      <ion-content fullscreen>
        <ion-list>
          <ion-list-header class="list-header"> Recent </ion-list-header>

          <ion-item routerLink='/film-content'>
            <ion-avatar slot="start">
              <img src="/assets/As-it-was.jpg" />
            </ion-avatar>
            <ion-label>
              <h1>As it was</h1>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-avatar slot="start">
              <img src="/assets/Less than zero.jpg" />
            </ion-avatar>
            <ion-label>
              <h1>Less than zero</h1>
              
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-avatar slot="start">
              <img src="/assets/Privilege.jpg" />
            </ion-avatar>
            <ion-label>
              <h1>Privilege</h1>
             
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-avatar slot="start">
              <img src="/assets/red blue Pills.png" />
            </ion-avatar>
            <ion-label>
              <h1>Red Blue Pills</h1>
             
            </ion-label>
          </ion-item>
        </ion-list>

       
      </ion-content>
    </ion-app>




  </body>



</ion-content>
