ion-header {
  background: url("/assets/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  width: 100%;
  height: 60px;
  margin: 0;
  z-index: 2;
  position: relative;

  ion-toolbar {
    background-color: transparent;
  }

  ion-icon{
    color: #fff;
    font-weight: 400;
    font-size: 24px;
  }
}

ion-content {
  --ion-background-color: #020202;
  --ion-text-color: #fff;
  ion-icon{
    color: #fff;
    font-weight: 400;
    font-size: 24px;
  }
  h2 {
    margin: 0px;
  }
}


