<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" color="white">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Startseite</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Meldungen</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Suche</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Watch List</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Einstellungen</ion-label>
    </ion-tab-button>

   
  </ion-tab-bar>

</ion-tabs>
