<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Meldungen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Meldungen</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card>
    
    <div class="Schauspieler">
      <h1>Schauspieler:</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer varius mattis aliquet. Nam finibus laoreet ipsum sed fringilla. In facilisis
      </p>
    </div>
  </ion-card>
  


  

  



</ion-content>
