<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="/assets/header.png" alt="">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Startseite</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content class="Neu" color="tertiary" >

  <ion-title id="filmkunstverleih" color="">format filmkunstverleih</ion-title>
    <ion-toolbar color="secondary">
      <ion-title size="large" color="">Neu</ion-title>
    </ion-toolbar>




  <swiper #swiper
            [slidesPerView]="2.5"
            [spaceBetween]="20">

    <ng-template swiperSlide>
      <ion-card  color="secondary">
        <img src="/assets/Less than zero.jpg" alt="">
        <ion-card-content>
          <ion-card-title>
                 Less Than Zero
          </ion-card-title>
        </ion-card-content>
      </ion-card>
    </ng-template>

    <ng-template swiperSlide>
      <ion-card routerLink='/film-content' color="secondary">
        <img src="/assets/As-it-was.jpg" alt="">
        <ion-card-content>
          <ion-card-title>
                 As it was
          </ion-card-title>
        </ion-card-content>
      </ion-card>

    </ng-template>
    <ng-template swiperSlide>
      <ion-card color="secondary">
        <img src="/assets/Privilege.jpg" alt="">
        <ion-card-content>
          <ion-card-title>
                 Privilege
          </ion-card-title>
        </ion-card-content>
      </ion-card>

    </ng-template>

  </swiper>








  <ion-toolbar color="secondary">
    <ion-title size="large" >Empfehlung</ion-title>
  </ion-toolbar>

  <swiper #swiper
          [slidesPerView]="3"
          [spaceBetween]="5">

  <ng-template swiperSlide>
    <ion-card color="secondary">
      <img src="/assets/red blue Pills.png" alt="">
      <ion-card-content>
        <ion-card-title>
               Red & Blue Pills
        </ion-card-title>
      </ion-card-content>
    </ion-card>

  </ng-template>


  <ng-template swiperSlide>
    <ion-card color="secondary">
      <img src="/assets/Take My Breath.png" alt="">
      <ion-card-content>
        <ion-card-title>
               Take my breath
        </ion-card-title>
      </ion-card-content>
    </ion-card>

  </ng-template>


  <ng-template swiperSlide>
    <ion-card color="secondary">
      <img src="/assets/Sign of the times.png" alt="">
      <ion-card-content>
        <ion-card-title>
               Sign of the times
        </ion-card-title>
      </ion-card-content>
    </ion-card>

  </ng-template>

</swiper>









<ion-toolbar color="secondary">
  <ion-title size="large" >Drama</ion-title>
</ion-toolbar>

<swiper #swiper
        [slidesPerView]="3"
        [spaceBetween]="5">

<ng-template swiperSlide>
  <ion-card color="secondary">
    <img src="/assets/As-it-was.jpg" alt="">
    <ion-card-content>
      <ion-card-title>
             As it was
      </ion-card-title>
    </ion-card-content>
  </ion-card>

</ng-template>


<ng-template swiperSlide>
  <ion-card color="secondary">
    <img src="/assets/Less than zero.jpg" alt="">
    <ion-card-content>
      <ion-card-title>
             Less than 0
      </ion-card-title>
    </ion-card-content>
  </ion-card>

</ng-template>


<ng-template swiperSlide>
  <ion-card color="secondary">
    <img src="/assets/Privilege.jpg" alt="">
    <ion-card-content>
      <ion-card-title>
             Privilege
      </ion-card-title>
    </ion-card-content>
  </ion-card>

</ng-template>

</swiper>

</ion-content>




</ion-content>
