<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Suche-Test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Suche</ion-title>
    </ion-toolbar>
  </ion-header>










  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="clickedSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar placeholder="Search Movies"></ion-searchbar>
  </ion-toolbar>







</ion-content>
