<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Suche
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-toolbar>
  <ion-buttons slot="primary">
    <ion-button (click)="clickedSearch()">
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-searchbar #search debounce="500" (ionChange)="_ionChange($event)" placeholder="Search Movies"></ion-searchbar>
</ion-toolbar>


<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Suche</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <!-- Genre-Tags -->
        <ion-list>
          <ion-item>
            <ion-select (ionChange)="onGenreFilter($event)" placeholder="Genres" [multiple]="true">
              <!-- Optionen müssen aus Datenbank geholt werden -->
              <ion-select-option value="Drama">Drama</ion-select-option>
              <ion-select-option value="Thriller">Thriller</ion-select-option>
              <ion-select-option value="Comedy">Comedy</ion-select-option>
              <ion-select-option value="Sci-Fi">Sci-Fi</ion-select-option>
              <ion-select-option value="Horror">Horror</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <!-- Lang-Tags -->
        <ion-list>
          <ion-item>
            <ion-select placeholder="Sprachen" [multiple]="true">
              <!-- Optionen müssen aus Datenbank geholt werden -->
              <ion-select-option value="deutsch">Deutsch</ion-select-option>
              <ion-select-option value="englisch">Englisch</ion-select-option>
              <ion-select-option value="spanisch">Spanisch</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>






  <ion-content>
    <ion-list>
      <ion-item *ngFor ='let item of searchedItem'>
        <ion-label routerLink='/film-content' >{{item.title}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>















</ion-content>
