<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="/assets/header.png" alt="">
    <ion-title id="filmkunstverleih" color="">format filmkunstverleih</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true" color="secondary">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title id="filmkunstverleih" color="">format filmkunstverleih</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true" color="tertiary">

  <ion-searchbar #search debounce="500" (ionChange)="_ionChange($event)" placeholder="Search Movies"></ion-searchbar>


    <ion-grid>
      <ion-row>
        <ion-col col-6>
        <!-- Genre-Tags -->
        <ion-button color="secondary" expand="full" shape="round">

            <ion-select (ionChange)="onGenreFilter($event)" placeholder="Genres" [multiple]="true">
              <!-- Optionen müssen aus Datenbank geholt werden -->
              <!-- TODO: genres aus db beziehen -->
              <ion-select-option value="2">Drama</ion-select-option>
              <ion-select-option value="11">Thriller</ion-select-option>
              <ion-select-option value="14">Komödie</ion-select-option>
              <ion-select-option value="16">Sci-Fi</ion-select-option>
              <ion-select-option value="17">Horror</ion-select-option>
            </ion-select>

      </ion-button>
    </ion-col>

    <ion-col col-6>
      <ion-button color="secondary" expand="full" shape="round">
        <!-- Lang-Tags -->

            <ion-select (ionChange)="onLangFilter($event)" placeholder="Sprachen" [multiple]="true" >
              <!-- Optionen müssen aus Datenbank geholt werden -->
              <ion-select-option value="deutsch">Deutsch</ion-select-option>
              <ion-select-option value="englisch">Englisch</ion-select-option>
              <ion-select-option value="spanisch">Spanisch</ion-select-option>
            </ion-select>


      </ion-button>
    </ion-col>
    </ion-row>
    </ion-grid>

  <ion-list>
    <ion-item *ngFor="let movie of this.searchResult; let i = index">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="2">
            <ion-thumbnail>
              <img src="http://62.75.138.24/images/Format/filme/{{movie['filmid']}}.jpg"/>
            </ion-thumbnail>
          </ion-col>
          <ion-col size="6" routerLink='/film-content'>
            <h3>{{movie['verleih_titel']}}</h3>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>



</ion-content>
</ion-content>
