#filmkunstverleih {
  background-color: #BE1622;
  font-size: 15px;
  font-weight: 400;
  padding: 5px;
  display: flex;
  text-align: center;
  justify-content: center;
  color: rgb(255, 255, 255);
}
ion-content {
  ion-searchbar {
    margin-top: 16px;
    --background: white;
    --icon-color: #BE1622;
    --border-radius: 10px;
    --box-shadow: 0px;
  }
}
ion-button {
  --border-radius:10px;
  
}
ion-select {
  --padding-end: 10px;
  --padding-start: 10px;
  --placeholder-color:white;
  --placeholder-opacity: 100%;
  
  
}




ion-header {
  ion-toolbar {
    --background: #9D9D9C;
    box-shadow: 1px 4px 8px 0px rgba(199, 0, 0, 0);
    img {
      width: 100%;
      display: flex;

    }
  }
}
ion-toolbar {
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.445);

}
ion-title {
  font-size: 30px;
  font-weight: bold;
  font-style: inherit;
  color: white;
}
