<ion-header>
  
</ion-header>

<ion-content color="secondary">
  <div id="header">
   
    <img src="assets/icon/Logo_filmreihe.png">
  </div>


  <form id="form">
    <app-input placeholder="User Name"></app-input>
    <app-input placeholder="Email"></app-input>
    <app-input type="password" placeholder="Password"></app-input>
    <app-input type="kundenNr" placeholder="Kunden Nummer"></app-input>
    <ion-button color="primary" expand="block" shape="round" routerLink="/tabs/tab1">Sign up</ion-button>
  
  </form>

  <p>Already have an account? <a routerLink="/login">Log In </a></p>

</ion-content>