<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button routerLink="/login" color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    


  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <div id="header">
    <h1>Create new <br>Account</h1>
    
  </div>


  <form id="form">
    <app-input placeholder="User Name"></app-input>
    <app-input placeholder="Email"></app-input>
    <app-input type="password" placeholder="Password"></app-input>
    <ion-button color="primary" expand="block" shape="round" routerLink="/tabs/tab1">Sign up</ion-button>
  </form>

  <p>Already have an account? <a routerLink="/login">Log In </a></p>

</ion-content>