ion-header {
ion-toolbar {
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.445);
    --background: url(../../assets/header-img.png)
    0 0/100% 100% no-repeat !important;
    ion-icon {
      color: #fff;
    }

}
}
ion-card {
  img {

    width: max-content;
    height: 30vh;
    padding-bottom: 0%;
  }
}
.FilmName {
    font-weight: bold;
    font-size: 20px;
}
.Inhalt {
    margin: 3%;
}
h1 {
    color: #1c1919;
}

.Schauspieler {
    margin: 3%;
}
.Regie {
    margin: 3%;
}
.Verfügbar {
    font-size: large;
    color: black;
    font-weight: bold;
}
.Komment {
    font-weight: bold;
}
