ion-header {
    ion-toolbar {
        box-shadow: 1px 4px 8px 0px rgba(199, 0, 0, 0);
        img {
            width: 100%;
            display: flex;

        }
    }
}
ion-toolbar {
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.445);

}
#head {
    position: relative;
}
#head{
    img {
        width: 100%;
            
            display: flex;
    }
}
#head {
    ion-icon {
        color: #BE1622;
        position: absolute; bottom:0; left:0;
        margin-bottom: 11px;
        margin-left: 4px;
    }
}
ion-card {


img {

    width: max-content;
    height: 30vh;
    padding-bottom: 0%;
}
}
.FilmName {
    font-weight: bold;
    font-size: 20px;
}
.Inhalt {
    margin: 6%;
    

}
h1 {
    color: #ffffff;
    
}
p {
    color: #000000;
    
}

.Schauspieler {
    margin: 6%;
}
.Regie {
    margin: 6%;
}
.Verfügbar {
    font-size: large;
    color: black;
    font-weight: bold;
}
.Komment {
    font-weight: bold;
}
