
img {
    
    width: max-content;
    height: 30vh;
    padding-bottom: 0%;
}
.FilmName {
    font-weight: bold;
    font-size: 20px;
}
.Inhalt {
    margin: 3%;
}
h1 {
    color: #1c1919;
}

.Schauspieler {
    margin: 3%;
}
.Regie {
    margin: 3%;
}
.Verfügbar {
    font-size: large;
    color: black;
    font-weight: bold;
}
.Komment {
    font-weight: bold;
}