<ion-header [translucent]="true">
  <ion-toolbar id="head">
    <img src="/assets/header-img.png" alt="">
    <ion-icon name="arrow-back-outline" size="large" onclick="history.back()"></ion-icon>
  </ion-toolbar>
  
</ion-header>




<ion-content color="tertiary">
  <swiper #swiper
  [slidesPerView]="1"
  [spaceBetween]="20">


 <ng-template swiperSlide>
    <ion-card color="secondary">
      <img src="/assets/As it was-2.png" alt="">
      <ion-item>
        <ion-label class="FilmName" >
          As it was
        </ion-label>
        <ion-icon  name="add-outline" slot="end"></ion-icon>
      </ion-item>
    </ion-card>

  </ng-template>


</swiper>










<ion-card >
<div class="Inhalt">
  <h1>Inhalt</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer varius mattis aliquet. Nam finibus laoreet ipsum sed fringilla. In facilisis
  </p>
</div>
</ion-card>

<ion-card>
  <div class="Schauspieler">
    <h1>Schauspieler:</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer varius mattis aliquet. Nam finibus laoreet ipsum sed fringilla. In facilisis
    </p>
  </div>

  <div class="Regie">
    <h1>Regie:</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer varius mattis aliquet. Nam finibus laoreet ipsum sed fringilla. In facilisis
    </p>
  </div>
  </ion-card>

  <ion-card>
  <ion-list>
    <ion-radio-group value="DVD">
      <ion-list-header class="Verfügbar">
        <ion-label>Verfügbar:</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>DVD</ion-label>
        <ion-radio slot="start" value="DVD"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>VHS</ion-label>
        <ion-radio slot="start" value="VHS"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Blu-Ray</ion-label>
        <ion-radio slot="start" value="Blu-Ray"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

</ion-card>

<ion-card>

<ion-item>
  <ion-label class="Komment" position="floating">Kommentieren</ion-label>
  <ion-input></ion-input>
</ion-item>





</ion-card>



</ion-content>

